/* NavBar Styling */
.nav-style {
  background-color: #ffdddd;
  border-color: #ddc6c6;

}

.active {
  font-style: italic;
  background-color: #ffc6c6;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6588a6;
    outline: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #ffc6c6;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #ffc6c6;
}

/* Index page styling */
.card-image {
  width: 200px;
  height: 200px;
  display: block;
  padding: 6px 8px 6px 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Tools page styling */
/* Style the sidebar - fixed full height */
.toolPage {
  padding-left: 180px;
}


.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: AntiqueWhite;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Styling for image icons */
.sidebar-icon {
  width: 140px;
  height: 140px;
  display: block;
  padding: 6px 8px 6px 16px;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s; /* Animation */
}

.sidebar-icon:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
