<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
    <title>Course Audit</title>
    <!-- Stylesheets -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Scripts -->
    <script type="text/javascript"
	    src="https://public.tableau.com/javascripts/api/tableau-2.5.0.min.js"></script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://public.tableau.com/views/bootcamp_comparison/comparison?:language=en&:display_count=y&publish=yes&:origin=viz_share_link&:embed=y",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };

            var viz = new tableau.Viz(containerDiv, url, options);
            // Create a viz object and embed it in the container div.
        }
    </script>
</head>

<body onload="initViz();">


  <nav class="navbar navbar-default nav-style">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Predictions</a></li>
        <li><a href="#">Demographics</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Industry Standards</a></li>
            <li class="active"><a href="#">Bootcamp Audit</a></li>
          </ul>
        </li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<h3>
    				Rutgers Data Visualization Audit
    			</h3>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
    			<div class="row">
    				<div class="col-md-12">
                <div id="vizContainer" style="width:800px; height:700px;"></div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-6">
    				</div>
    				<div class="col-md-6">
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

</body>


</html>
