<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Audit</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>

<!-- Scripts -->
<script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.5.0.min.js"></script>
<script type="text/javascript">
  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
      url = "https://public.tableau.com/views/bootcamp_comparison/comparison?:language=en&:display_count=y&publish=yes&:origin=viz_share_link&:embed=y",
      options = {
        hideTabs: true,
        onFirstInteractive: function () {
          console.log("Run this code when the viz has finished loading.");
        }
      };

    var viz = new tableau.Viz(containerDiv, url, options);
    // Create a viz object and embed it in the container div.
  }
</script>

<body onload="initViz();">

  <div class="container">

    <nav class="navbar navbar-default nav-style">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Predict Your Salary</a>
        </div>
        <!-- <ul class="nav navbar-nav navbar-right"> -->
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/predictions">Predictions</a></li>
        <li><a href="/demographics">Demographics</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/tools">Industry Standards</a></li>
            <li><a href="/audit">Bootcamp Audit</a></li>
          </ul>
        </li>
        <li><a href="/team">About Us</a></li>
        </ul>
      </div>
    </nav>


    <div class="view overlay my-4">
      <img src="../Images/audit.png" class="img-fluid" alt="">
    </div>

    <div id="vizContainer" style="width:700px; height:700px;">
    </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>