<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="../static/css/stylesheet.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Basic Embed</title>

    <script type="text/javascript"
	    src="https://public.tableau.com/javascripts/api/tableau-2.5.0.min.js"></script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://public.tableau.com/views/TechSalaryAnalysis/GenderAnalysis?:language=en&:display_count=y&:origin=viz_share_link&:embed=y",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };


            var viz = new tableau.Viz(containerDiv, url, options);

            // Create a viz object and embed it in the container div.
        }
    </script>
</head>

<body onload="initViz();">

    <div id="vizContainer" style="width:800px; height:700px;"></div>



</body>


</html>
