<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Demographics</title>
  <!-- Site Icon -->
  <link rel="icon" href="../static/images/flavicon_3.png" type="image/x-icon" sizes="16x16">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/stylesheet.css">

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default nav-style">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="../static/images/site title icon.png" style="height:75px;" alt="Predict Your Salary"></a>
        </div>
        <li><a href="/">Home</a></li>
        <li><a href="/predictions">Predictions</a></li>
        <li><a href="/factors">Factors</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/tools">Industry Favorites</a></li>
            <li><a class="dropdown-item" href="/audit">Bootcamp Audit</a></li>

            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Job Search</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/requirements">Most Common Requirements</a></li>
                <li><a class="dropdown-item" href="/wordcloud">Indeed Requirements</a></li>
                <li><a class="dropdown-item" href="/wordcloud_nycnj">NJ/NY Requirements</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="/development">Development</a></li>
        <li><a href="/team">About Us</a></li>
      </div>
    </nav>
    <div class="view overlay my-4">
      <img src="../static/images/factors.png" class="img-fluid" alt="">
    </div>
    <hr>
    <nav class="navbar sticky-top navbar-default nav-style second" id="filterBar">
      <div class="container-fluid">
        <img src="../static/images/gender.png" onclick="parent.location='/gender'" class="sb-icon">
        <img src="../static/images/age.png" onclick="parent.location='/age'" class="sb-icon">
        <img src="../static/images/location.png" onclick="parent.location='/country'" class="sb-icon">
        <img src="../static/images/cs background.png" onclick="parent.location='/csbackground'" class="sb-icon">
        <img src="../static/images/level of edu.png" onclick="parent.location='/degree'" class="sb-icon">
        <img src="../static/images/certi.png" onclick="parent.location='/certifs'" class="sb-icon">
    </div>
  </nav>
    <div class="container-fluid main">
      <div class="row">
    		<div class="col-md-12">
          <h3 class="centered" style="text-align:center;">How much is your salary a reflection of you?</h3>
          <p class="centered" style="text-align:center;">Did you know what premiums employers pay for the right education and experience? Have you ever wondered how much of a gender pay gap still exists or how your age might affect your salary in data science?
          </p>
          <p class="centered" style="text-align:center;">
          We analyzed the salary data we sourced to see if there are patterns in factors such as gender, age, country, certification status, or education level and background. Explore with us and find out how much your salary might be influenced by factors in or out of your control.
          </p>
    		</div>
    	</div>
    </div>
  </div>

  <!-- Styling scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Dropdown submenu script -->
  <script>
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
      if (!$(this).next().hasClass('show')) {
        $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
      }
      var $subMenu = $(this).next(".dropdown-menu");
      $subMenu.toggleClass('show');
      $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
        $('.dropdown-submenu .show').removeClass("show");
      });
      return false;
    });
  </script>

</body>


</html>
