<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>


  <body>
    <nav class="navbar navbar-default nav-style">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/predictions">Predictions</a></li>
          <li><a href="/demographics">Demographics</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/tools">Industry Standards</a></li>
              <li><a href="/audit">Bootcamp Audit</a></li>
            </ul>
          </li>
          <li><a href="/team">About Us</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<h3>
    				Welcome to the World of Data Professionals
				</h3>

    			<p>
    				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
    			</p>
          <a href="demog.html">Link to demographics page, temp</a>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
    			<div class="row">
    				<div class="col-md-4">
    					<div class="card">
    						<h5 class="card-header">
    							<img src="../static/images/data_analyst.png" class="card-image">
    						</h5>
    						<div class="card-body">
								<h3>Data/Business Analyst</h3>
    							<p class="card-text">
									<strong>Salary:</strong><br>
									{{ salary_education_data[1]["Data Analyst"]["salary"] }}<br>
									<strong>Highest Level of Education:</strong><br>
									Doctoral Degree: {{ salary_education_data[1]["Data Analyst"]["education"][2]["Doctoral degree"] }}<br>
									Master's Degree: {{ salary_education_data[1]["Data Analyst"]["education"][0]["Master’s degree"] }}<br>
									Bachelor’s Degree: {{ salary_education_data[1]["Data Analyst"]["education"][1]["Bachelor’s degree"] }}<br>
									Professional Degree: {{ salary_education_data[1]["Data Analyst"]["education"][3]["Professional degree"] }}<br>
									Some College: {{ salary_education_data[1]["Data Analyst"]["education"][6]["Some college/university study without earning a bachelor’s degree"] }}<br>								
									High School: {{ salary_education_data[1]["Data Analyst"]["education"][4]["No formal education past high school"] }}
    							</p>
    						</div>
    						<div class="card-footer">
    							Link to indeed?
    						</div>
    					</div>
    				</div>
    				<div class="col-md-4">
              <div class="card">
    						<h5 class="card-header">
    							<img src="../static/images/data_arch.png" class="card-image">
    						</h5>
    						<div class="card-body">
    							<h3>Database Administrator/Data Engineer</h3>
    							<p class="card-text">
									<strong>Salary:</strong><br>
									{{ salary_education_data[2]["DBA/Database Engineer"]["salary"] }}<br>
									<strong>Highest Level of Education:</strong><br>
									Doctoral Degree: {{ salary_education_data[2]["DBA/Database Engineer"]["education"][4]["Doctoral degree"] }}<br>
									Master's Degree: {{ salary_education_data[2]["DBA/Database Engineer"]["education"][2]["Master’s degree"] }}<br>
									Bachelor’s Degree: {{ salary_education_data[2]["DBA/Database Engineer"]["education"][0]["Bachelor’s degree"] }}<br>
									Professional Degree: {{ salary_education_data[2]["DBA/Database Engineer"]["education"][3]["Professional degree"] }}<br>
									Some College: {{ salary_education_data[2]["DBA/Database Engineer"]["education"][6]["Some college/university study without earning a bachelor’s degree"] }}<br>								
									High School: {{ salary_education_data[2]["DBA/Database Engineer"]["education"][1]["No formal education past high school"] }}
    							</p>
    						</div>
    						<div class="card-footer">
    							Link to indeed?
    						</div>
    					</div>
    				</div>
    				<div class="col-md-4">
              <div class="card">
    						<h5 class="card-header">
    							<img src="../static/images/data_eng.png" class="card-image">
    						</h5>
    						<div class="card-body">
    							<h3>Software Engineer</h3>
    							<p class="card-text">
									<strong>Salary:</strong><br>
									{{ salary_education_data[4]["Software Engineer"]["salary"] }}<br>
									<strong>Highest Level of Education:</strong><br>
									Doctoral Degree: {{ salary_education_data[4]["Software Engineer"]["education"][5]["Doctoral degree"] }}<br>
									Master's Degree: {{ salary_education_data[4]["Software Engineer"]["education"][6]["Master’s degree"] }}<br>
									Bachelor’s Degree: {{ salary_education_data[4]["Software Engineer"]["education"][1]["Bachelor’s degree"] }}<br>
									Professional Degree: {{ salary_education_data[4]["Software Engineer"]["education"][3]["Professional degree"] }}<br>
									Some College: {{ salary_education_data[4]["Software Engineer"]["education"][2]["Some college/university study without earning a bachelor’s degree"] }}<br>							
									High School: {{ salary_education_data[4]["Software Engineer"]["education"][0]["No formal education past high school"] }}
    							</p>
    						</div>
    						<div class="card-footer">
    							Link to indeed?
    						</div>
    					</div>
    				</div>
    			</div>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <h5 class="card-header">
                  <img src="../static/images/data_scientist.png" class="card-image">
                </h5>
                <div class="card-body">
					<h3>Research Scientist</h3>
					<p class="card-text">
						<strong>Salary:</strong><br>
						{{ salary_education_data[5]["Research Scientist"]["salary"] }}<br>
						<strong>Highest Level of Education:</strong><br>
						Doctoral Degree: {{ salary_education_data[5]["Research Scientist"]["education"][4]["Doctoral degree"] }}<br>
						Master's Degree: {{ salary_education_data[5]["Research Scientist"]["education"][5]["Master’s degree"] }}<br>
						Bachelor’s Degree: {{ salary_education_data[5]["Research Scientist"]["education"][3]["Bachelor’s degree"] }}<br>
						Professional Degree: {{ salary_education_data[5]["Research Scientist"]["education"][2]["Professional degree"] }}<br>
						Some College: {{ salary_education_data[5]["Research Scientist"]["education"][1]["Some college/university study without earning a bachelor’s degree"] }}<br>								
						High School: {{ salary_education_data[5]["Research Scientist"]["education"][0]["No formal education past high school"] }}
					</p>
                </div>
                <div class="card-footer">
                  Link to indeed?
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <h5 class="card-header">
                  <img src="../static/images/database analyst.png" class="card-image">
                </h5>
                <div class="card-body">
					<h3>Product/Project Manager</h3>
					<p class="card-text">
						<strong>Salary:</strong><br>
						{{ salary_education_data[6]["Product/Project Manager"]["salary"] }}<br>
						<strong>Highest Level of Education:</strong><br>
						Doctoral Degree: {{ salary_education_data[6]["Product/Project Manager"]["education"][6]["Doctoral degree"] }}<br>
						Master's Degree: {{ salary_education_data[6]["Product/Project Manager"]["education"][2]["Master’s degree"] }}<br>
						Bachelor’s Degree: {{ salary_education_data[6]["Product/Project Manager"]["education"][5]["Bachelor’s degree"] }}<br>
						Professional Degree: {{ salary_education_data[6]["Product/Project Manager"]["education"][1]["Professional degree"] }}<br>
						Some College: {{ salary_education_data[6]["Product/Project Manager"]["education"][0]["Some college/university study without earning a bachelor’s degree"] }}<br>						
						High School: {{ salary_education_data[6]["Product/Project Manager"]["education"][3]["No formal education past high school"] }}
					</p>
                </div>
                <div class="card-footer">
                  Link to indeed?
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <h5 class="card-header">
                  <img src="../static/images/software_dev.png" class="card-image">
                </h5>
                <div class="card-body">
					<h3>Data Scientist</h3>
					<p class="card-text">
						<strong>Salary:</strong><br>
						{{ salary_education_data[7]["Data Scientist"]["salary"] }}<br>
						<strong>Highest Level of Education:</strong><br>
						Doctoral Degree: {{ salary_education_data[7]["Data Scientist"]["education"][5]["Doctoral degree"] }}<br>
						Master's Degree: {{ salary_education_data[7]["Data Scientist"]["education"][4]["Master’s degree"] }}<br>
						Bachelor’s Degree: {{ salary_education_data[7]["Data Scientist"]["education"][2]["Bachelor’s degree"] }}<br>
						Professional Degree: {{ salary_education_data[7]["Data Scientist"]["education"][6]["Professional degree"] }}<br>
						Some College: {{ salary_education_data[7]["Data Scientist"]["education"][3]["Some college/university study without earning a bachelor’s degree"] }}<br>							
						High School: {{ salary_education_data[7]["Data Scientist"]["education"][1]["No formal education past high school"] }}
					</p>
                </div>
                <div class="card-footer">
                  Link to indeed?
                </div>
              </div>
            </div>
          </div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
    			<h3>
    				h3. Lorem ipsum dolor sit amet.
    			</h3>
    			<div class="row">
    				<div class="col-md-6">
    					<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
    				</div>
    				<div class="col-md-6">
    					<p>
    						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
    					</p>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
    			<h3>
    				h3. Lorem ipsum dolor sit amet.
    			</h3>
    			<div class="row">
    				<div class="col-md-4">
    					<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
    				</div>
    				<div class="col-md-4">
    					<dl>
    						<dt>
    							Description lists
    						</dt>
    						<dd>
    							A description list is perfect for defining terms.
    						</dd>
    						<dt>
    							Euismod
    						</dt>
    						<dd>
    							Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    						</dd>
    						<dd>
    							Donec id elit non mi porta gravida at eget metus.
    						</dd>
    						<dt>
    							Malesuada porta
    						</dt>
    						<dd>
    							Etiam porta sem malesuada magna mollis euismod.
    						</dd>
    						<dt>
    							Felis euismod semper eget lacinia
    						</dt>
    						<dd>
    							Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    						</dd>
    					</dl>
    				</div>
    				<div class="col-md-4">
    					<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-8">
    					<p>
    						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
    					</p>
    				</div>
    				<div class="col-md-4">
    					<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </body>

</html>
