<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/stylesheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

</head>

<body>

        <div class="col-xs-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Enter Job Information to Predict the Salary:</p>
                    <div class="panel-body1">
                        <div>
                            <form action="/" method='post'>
                                1. Country: 
                                    <select id="selCountry" name="country" onchange="optionChanged(this.value)" required>
                                    </select>
                                <br>
                                2. Region:
                                    <select id="selRegion" name="region" required>
                                    </select>
                                <br>
                                3. Highest Level of Education:
                                    <select name="education" required>
                                        <option style="display:none;" disabled selected value></option>
                                        <option value="None (no degree completed)">No Degree</option>
                                        <option value="Associates (2 years)">Associates</option>
                                        <option value="Bachelors (4 years)">Bachelors</option>
                                        <option value="Masters">Masters</option>
                                    </select>
                                <br>
                                4. Is Education Computer Related:
                                    <input type="radio" id="yes" name="comp_ed" value="Yes">
                                        <label for="yes">Yes</label>
                                    <input type="radio" id="no" name="comp_ed" value="No">
                                        <label for="no">No</label>
                                <br>
                                5. Primary Database:
                                    <select name="primary_db" required>
                                        <option style="display:none;" disabled selected value></option>
                                        <option value="Amazon RDS (any flavor)">Amazon RDS</option>
                                        <option value="Azure SQL DB">Azure SQL</option>
                                        <option value="Cassandra">Cassandra</option>
                                        <option value="DB2">DB2</option>
                                        <option value="Elasticsearch">Elasticsearch</option>
                                        <option value="Microsoft Access">Microsoft Access</option>
                                        <option value="Microsoft SQL Server">Microsoft SQL Server</option>
                                        <option value="MongoDB">MongoDB</option>
                                        <option value="MySQL/MariaDB">MySQL/MariaDB</option>
                                        <option value="Oracle">Oracle</option>
                                        <option value="PostgreSQL">PostgreSQL</option>
                                        <option value="SAP">SAP</option>
                                        <option value="SQLite">SQLite</option>
                                        <option value="Teradata">Teradata</option>
                                        <option value="Other">Other</option>
                                    </select>
                                <br>
                                6. Years with this Database:
                                    <input type="number" name="years_db" min="0" max="50" required>
                                <br>
                                7. Years with this Type of Job:
                                    <input type="number" name="years_job" min="0" max="50" required>
                                <br>
                                8. Employment Sector:
                                    <select name="employ_sector" required>
                                        <option style="display:none;" disabled selected value></option>
                                        <option value="Private business">Private</option>
                                        <option value="Government">Government</option>
                                        <option value="Non-profit">Non-profit</option>
                                        <option value="Education (K-12, college, university)">Education</option>
                                    </select>
                                <br>
                                9. Amount of Other People on Your Team:
                                    <select name="other_people" required>
                                        <option style="display:none;" disabled selected value></option>
                                        <option value="None">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="More than 5">6+</option>
                                    </select>
                                <br>
                                10. Employment Status:
                                <input type="radio" id="employee" name="employ_status" value="Full time employee">
                                    <label for="employee">Employee</label>
                                <input type="radio" id="freelancer" name="employ_status" value="Independent Consultant/Freelancer">
                                    <label for="freelancer">Consultant/Freelancer</label>
                                <br>
                                11. Amount of Telecommute Days per Week:
                                    <select name="telecommute" required>
                                        <option style="display:none;" disabled selected value></option>
                                        <option value="None, or less than 1 day per week">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5 or more">5+</option>
                                    </select>
                                <br>
                                12. Are You a Manager:
                                    <input type="radio" id="yes" name="manager" value="Full time employee">
                                        <label for="yes">Yes</label>
                                    <input type="radio" id="no" name="manager" value="Independent Consultant/Freelancer">
                                        <label for="no">No</label>
                                <br>
                                <input type="submit" value="Submit">
                            </form>
                            <br>
                            {{ prediction_string }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="../static/js/model.js"></script>
</body>

</html>