<!DOCTYPE html>
<html lang="en-us">
  <head>
  <meta charset="UTF-8">
  <title>Tools</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/stylesheet.css">

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://d3js.org/d3.v5.min.js'></script>
  <script>
    var d3v5 = window.d3;
    window.d3 = null;
  </script>
  <script src="https://d3js.org/d3.v3.js"></script>
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>

  </head>

	<body>
    <div class="container">
  		<nav class="navbar navbar-default nav-style">
  			<div class="container-fluid">
  				<div class="navbar-header">
  					<a class="navbar-brand" href="/">Predict Your Salary</a>
  				</div>
          <li><a href="/">Home</a></li>
          <li><a href="/predictions">Predictions</a></li>
          <li><a href="/demographics">Demographics</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="active"><a href="/tools">Industry Standards</a></li>
              <li><a href="/audit">Bootcamp Audit</a></li>
            </ul>
          </li>
          <li><a href="/team">About Us</a></li>
      </div>
    </nav>
    <div class="view overlay my-4">
      <img src="../static/images/banners.png" class="img-fluid" alt="">
    </div>
    <hr>
    <nav class="navbar sticky-top navbar-default nav-style second" id="filterBar">
      <div class="container-fluid">
        <img src="../static/images/no back.png" onclick="loadFilter(&quot;&quot;)" class="sb-icon">
        <img src="../static/images/data_analyst.png" onclick="loadFilter(&quot;/Data Analyst&quot;)" class="sb-icon">
        <img src="../static/images/data_arch.png" onclick="loadFilter(&quot;/Data Engineer&quot;)" class="sb-icon">
        <img src="../static/images/data_eng.png" onclick="loadFilter(&quot;/Data Scientist&quot;)" class="sb-icon">
        <img src="../static/images/data_scientist.png" onclick="loadFilter(&quot;/Product/Project Manager&quot;)" class="sb-icon">
        <img src="../static/images/database analyst.png" onclick="loadFilter(&quot;/Research Scientist&quot;)" class="sb-icon">
        <img src="../static/images/software_dev.png" onclick="loadFilter(&quot;/Statistician&quot;)" class="sb-icon">
    </div>
  </nav>
    <!-- <div class="sidebar">
      <img src="../static/images/no back.png" onclick="loadFilter(&quot;&quot;)" class="sidebar-icon">
      <img src="../static/images/data_analyst.png" onclick="loadFilter(&quot;/Data Analyst&quot;)" class="sidebar-icon">
      <img src="../static/images/data_arch.png" onclick="loadFilter(&quot;/Data Engineer&quot;)" class="sidebar-icon">
      <img src="../static/images/data_eng.png" onclick="loadFilter(&quot;/Data Scientist&quot;)" class="sidebar-icon">
      <img src="../static/images/data_scientist.png" onclick="loadFilter(&quot;/Product/Project Manager&quot;)" class="sidebar-icon">
      <img src="../static/images/database analyst.png" onclick="loadFilter(&quot;/Research Scientist&quot;)" class="sidebar-icon">
      <img src="../static/images/software_dev.png" onclick="loadFilter(&quot;/Statistician&quot;)" class="sidebar-icon">
    </div> -->
			<div class="row">
				<div class="col-md-12">
					<h1>
						TOOLS OF THE TRADE
					</h1>
          <h3>LUX</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3>
								Where to start?
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <div class="wordCloud" id="wordCloud">
              </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3>
								Industry Favorites
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <div class="bubble" id="bubble">
              </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3>
								h3. Lorem ipsum dolor sit amet.
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<button type="button" class="btn btn-success">
								Button
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- <script type="text/javascript" src="static/js/toolbubble.js"></script> -->
    <script type="text/javascript" src="static/js/toolwords.js"></script>
    <script type="text/javascript" src="static/js/toolbubble.js"></script>
    <script type="text/javascript" src="static/js/toolFilter.js"></script>
	</body>

</html>
