<!DOCTYPE html>
<html lang="en-us">
  <head>
  <meta charset="UTF-8">
  <title>Tools</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="../static/css/stylesheet.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!---Scripts--->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <!-- <script>
    var d3v3 = window.d3;
    window.d3 = null;
  </script>
  <script src='https://d3js.org/d3.v5.min.js'></script> -->
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>

  </head>

	<body>
		<div class="icon-bar">
		  <a class="active" href="#"><i class="job5"></i></a>
		  <a href="#"><i class="job1"></i></a>
		  <a href="#"><i class="job2"></i></a>
		  <a href="#"><i class="job3"></i></a>
		  <a href="#"><i class="job4"></i></a>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3>
						Tools of the Trade
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3>
								h3. Lorem ipsum dolor sit amet.
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<button type="button" class="btn btn-success">
								Button
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3>
								h3. Lorem ipsum dolor sit amet.
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<button type="button" class="btn btn-success">
								Button
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3>
								h3. Lorem ipsum dolor sit amet.
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<button type="button" class="btn btn-success">
								Button
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    <!-- <script type="text/javascript" src="static/js/toolbubble.js"></script> -->
    <script type="text/javascript" src="static/js/toolwords.js"></script>
	</body>

</html>
