<!DOCTYPE html>
<html lang="en-us">
  <head>
  <meta charset="UTF-8">
  <title>Tools</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="static/js/d3.v3.min.js"></script> -->
  <script src='https://d3js.org/d3.v5.min.js'></script>
  <script>
    var d3v5 = window.d3;
    window.d3 = null;
  </script>
  <script src="https://d3js.org/d3.v3.js"></script>
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>

  </head>

	<body>
    <nav class="navbar navbar-default nav-style">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/predictions">Predictions</a></li>
          <li><a href="/demographics">Demographics</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="active"><a href="/tools">Industry Standards</a></li>
              <li><a href="/audit">Bootcamp Audit</a></li>
            </ul>
          </li>
          <li><a href="/team">About Us</a></li>
        </ul>
      </div>
    </nav>
    <div class="sidebar">
      <img src="../static/images/no back.png" onclick="window.open(this.src)" class="sidebar-icon">
      <img src="../static/images/data_analyst.png" onclick="showNewWords(vis,/recommendation_data)" class="sidebar-icon">
      <img src="../static/images/data_arch.png" onclick="window.open(this.src)" class="sidebar-icon">
      <img src="../static/images/data_eng.png" onclick="window.open(this.src)" class="sidebar-icon">
      <img src="../static/images/data_scientist.png" onclick="window.open(this.src)" class="sidebar-icon">
      <img src="../static/images/database analyst.png" onclick="window.open(this.src)" class="sidebar-icon">
      <img src="../static/images/software_dev.png" onclick="window.open(this.src)" class="sidebar-icon">
    </div>

		<div class="container-fluid toolPage">
			<div class="row">
				<div class="col-md-12">
					<h3>
						Tools of the Trade
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3>
								Where to start?
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <div class="wordCloud">
              </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3>
								Industry Favorites
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <div class="bubble">
              </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3>
								h3. Lorem ipsum dolor sit amet.
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<button type="button" class="btn btn-success">
								Button
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    <!-- <script type="text/javascript" src="static/js/toolbubble.js"></script> -->
    <script type="text/javascript" src="static/js/toolwords.js"></script>
    <script type="text/javascript" src="static/js/toolbubble.js"></script>
	</body>

</html>
