<!DOCTYPE html>
<html lang="en-us">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/stylesheet.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
  		<nav class="navbar navbar-default nav-style">
  			<div class="container-fluid">
  				<div class="navbar-header">
  					<a class="navbar-brand" href="/">Predict Your Salary</a>
  				</div>
          <li><a href="/">Home</a></li>
          <li><a href="/predictions">Predictions</a></li>
          <li><a href="/factors">Factors</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/tools">Industry Favorites</a></li>
              <li><a class="dropdown-item" href="/audit">Bootcamp Audit</a></li>

              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Job Search</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/requirements">Most Common Requirements</a></li>
                  <li><a class="dropdown-item" href="/wordcloud">Indeed Requirements</a></li>
                  <li><a class="dropdown-item" href="/wordcloud_nycnj">NJ/NY Requirements</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/development">Development</a></li>
          <li><a href="/team">About Us</a></li>
      </div>
    </nav>

    </div>

    <div id="rendered-md"><h1 id="new-york">New York</h1>
<h2 id="cluster-0">Cluster: 0</h2>
<p>Jobs: 49<br>
Titles:<br>
machine learning engineer<br>
data engineer</p>
<p><img src="../static/images/wordcloud-indeed-nyc-0.png" alt="wordcloud-indeed-nyc-0.png"></p>
<p>These engineer positions tend to involve multimedia and video streaming</p>
<h2 id="cluster-1">Cluster: 1</h2>
<p>Jobs: 48<br>
Titles<br>
data engineer</p>
<p><img src="../static/images/wordcloud-indeed-nyc-1.png" alt="wordcloud-indeed-nyc-1.png"></p>
<p>These data engineer positions emphasize data warehouseing and data architecture</p>
<h2 id="cluster-2">Cluster: 2</h2>
<p>Jobs: 210<br>
Titles<br>
data scientist<br>
quantitative analyst<br>
statistician<br>
data analyst<br>
research scientist<br>
machine learning engineer<br>
data engineer</p>
<p><img src="../static/images/wordcloud-indeed-nyc-2.png" alt="wordcloud-indeed-nyc-2.png"></p>
<p>This cluster represents general data science postitions focusing on modeling and experience</p>
<h2 id="cluster-3">Cluster: 3</h2>
<p>Jobs: 48<br>
Titles<br>
data engineer</p>
<p><img src="../static/images/wordcloud-indeed-nyc-3.png" alt="wordcloud-indeed-nyc-3.png"></p>
<p>Most of these jobs involve large scale data structures and data pipelines</p>
<h2 id="cluster-4">Cluster: 4</h2>
<p>Jobs: 33<br>
Titles:<br>
data engineer</p>
<p><img src="../static/images/wordcloud-indeed-nyc-4.png" alt="wordcloud-indeed-4.png"></p>
<p>These data engineer positions place heavy emphasis on big query and years experience</p>
<h2 id="cluster-5">Cluster: 5</h2>
<p>Jobs: 48<br>
Titles<br>
data engineer</p>
<p><img src="../static/images/wordcloud-indeed-nyc-5.png" alt="wordcloud-indeed-nyc-5.png"></p>
<p>These data engineer positions most likely involve working with commercial real estate.</p>
<h2 id="cluster-6">Cluster: 6</h2>
<p>Jobs: 7<br>
Titles:<br>
data scientist<br>
research scientist</p>
<p><img src="../static/images/wordcloud-indeed-nyc-6.png" alt="wordcloud-indeed-nyc-6.png"></p>
<p>Research and product management are important.</p>
<h2 id="cluster-7">Cluster: 7</h2>
<p>Jobs: 48<br>
Titles:<br>
data engineer</p>
<p><img src="../static/images/wordcloud-indeed-nyc-7.png" alt="wordcloud-indeed-nyc-7.png"></p>
<p>These data engineer jobs rely heavily on data modeling and data pipelines</p>
<h2 id="cluster-8">Cluster: 8</h2>
<p>Jobs: 33<br>
Titles:<br>
data engineer</p>
<p><img src="../static/images/wordcloud-indeed-nyc-8.png" alt="wordcloud-indeed-nyc-8.png"></p>
<p>This cluster of jobs place emphasis on research moist likely involving the health industry<br>
These data engineer jobs look for experience in data intergration and systems design</p>
<h1 id="new-jersey">New Jersey</h1>
<p>Below is the WordCloud for NJ Jobs:</p>
<p><img src="../static/images/wordcloud-indeed-nj.png" alt="wordcloud-indeed-nj.png"></p>
<p>Clearly, there is an emphasis on &quot;experience&quot;, working in a &quot;team&quot;, and performing &quot;statistical&quot; &quot;analysis&quot;.</p>
</div>

    <!-- Styling scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Dropdown submenu script -->
    <script>
      $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        if (!$(this).next().hasClass('show')) {
          $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');
        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
          $('.dropdown-submenu .show').removeClass("show");
        });
        return false;
      });
    </script>
  </body>

  </html>