<!DOCTYPE html>
<html lang="en-us">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/stylesheet.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
  		<nav class="navbar navbar-default nav-style">
  			<div class="container-fluid">
  				<div class="navbar-header">
  					<a class="navbar-brand" href="/">Predict Your Salary</a>
  				</div>
          <li><a href="/">Home</a></li>
          <li><a href="/predictions">Predictions</a></li>
          <li><a href="/factors">Factors</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/tools">Industry Favorites</a></li>
              <li><a class="dropdown-item" href="/audit">Bootcamp Audit</a></li>

              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Job Search</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/requirements">Most Common Requirements</a></li>
                  <li><a class="dropdown-item" href="/wordcloud">Indeed Requirements</a></li>
                  <li><a class="dropdown-item" href="/wordcloud_nycnj">NJ/NY Requirements</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/development">Development</a></li>
          <li><a href="/team">About Us</a></li>
      </div>
    </nav>

    </div>

    <div id="rendered-md"><h1 id="cluster-0">Cluster: 0</h1>
      <p>Jobs: 165<br>
      Titles:<br>
      research scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-0.png"></p>
      <h1 id="cluster-1">Cluster: 1</h1>
      <p>Jobs: 241<br>
      Titles:<br>
      data analyst</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-1.png"></p>
      <h1 id="cluster-2">Cluster: 2</h1>
      <p>Jobs: 197<br>
      Titles:<br>
      data analyst</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-2.png"></p>
      <h1 id="cluster-3">Cluster: 3</h1>
      <p>Jobs: 147<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-3.png"></p>
      <h1 id="cluster-4">Cluster: 4</h1>
      <p>Jobs: 241<br>
      Titles:<br>
      data analyst</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-4.png"></p>
      <h1 id="cluster-5">Cluster: 5</h1>
      <p>Jobs: 147<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-5.png"></p>
      <h1 id="cluster-6">Cluster: 6</h1>
      <p>Jobs: 147<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-6.png"></p>
      <h1 id="cluster-7">Cluster: 7</h1>
      <p>Jobs: 147<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-7.png"></p>
      <h1 id="cluster-8">Cluster: 8</h1>
      <p>Jobs: 147<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-8.png"></p>
      <h1 id="cluster-9">Cluster: 9</h1>
      <p>Jobs: 147<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-9.png"></p>
      <h1 id="cluster-10">Cluster: 10</h1>
      <p>Jobs: 147<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-10.png"></p>
      <h1 id="cluster-11">Cluster: 11</h1>
      <p>Jobs: 241<br>
      Titles:<br>
      data analyst</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-11.png"></p>
      <h1 id="cluster-12">Cluster: 12</h1>
      <p>Jobs: 106<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-12.png"></p>
      <h1 id="cluster-13">Cluster: 13</h1>
      <p>Jobs: 72<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-13.png"></p>
      <h1 id="cluster-14">Cluster: 14</h1>
      <p>Jobs: 422<br>
      Titles:<br>
      data scientist<br>
      quantitative analyst<br>
      statistician<br>
      data analyst<br>
      research scientist<br>
      machine learning engineer<br>
      data engineer</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-14.png"></p>
      <h1 id="cluster-15">Cluster: 15</h1>
      <p>Jobs: 66<br>
      Titles:<br>
      machine learning engineer</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-15.png"></p>
      <h1 id="cluster-16">Cluster: 16</h1>
      <p>Jobs: 22<br>
      Titles:<br>
      statistician</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-16.png"></p>
      <h1 id="cluster-17">Cluster: 17</h1>
      <p>Jobs: 54<br>
      Titles:<br>
      data analyst</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-17.png"></p>
      <h1 id="cluster-18">Cluster: 18</h1>
      <p>Jobs: 45<br>
      Titles:<br>
      research scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-18.png"></p>
      <h1 id="cluster-19">Cluster: 19</h1>
      <p>Jobs: 24<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-19.png"></p>
      <h1 id="cluster-20">Cluster: 20</h1>
      <p>Jobs: 25<br>
      Titles:<br>
      data scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-20.png"></p>
      <h1 id="cluster-21">Cluster: 21</h1>
      <p>Jobs: 8<br>
      Titles:<br>
      data analyst</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-21.png"></p>
      <h1 id="cluster-22">Cluster: 22</h1>
      <p>Jobs: 55<br>
      Titles:<br>
      statistician<br>
      data analyst<br>
      research scientist</p>
      <p><img src="../static/images/wordcloud-indeed-0.png" alt="wordcloud-indeed-22.png"></p>
    </div>

    <!-- Styling scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Dropdown submenu script -->
    <script>
      $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        if (!$(this).next().hasClass('show')) {
          $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');
        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
          $('.dropdown-submenu .show').removeClass("show");
        });
        return false;
      });
    </script>
  </body>

  </html>